@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 680px;
    margin: 0 auto;
}

#links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    li {
        color: white;
        align-self: center;
        padding: 0;
        font-weight: 700;
        font-size: 14px;
    }
}

ul a {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-left: 5px;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1000px;
}

.header {
    height: 123px;
}

.nav-header {
    background-color: #B50014;
    height: 93px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo {
    margin-right: 25px;
    z-index: 1;
    transform: translateY(25%);
}


.clock {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 4px;
}

.open-header {
    height: 30px;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
        color: white;
        text-align: end;
    }
}


.image {
    height: 100%;
    width: 100%;
    position: relative;

    img{
        width: 100%;
        height: 100%;
    }
}


.rectangle {
    color: white;
    width: 550px;
    height: 300px;
    position: sticky;
    transform: translateY(-160%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px 40px 20px 250px;

    p {
        font-weight: 300;
    }
}



.open-time {
    display: flex;
    width: 1200px;
    justify-content: end;

    p span {
        font-weight: bold;
    }
}

.download {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.slide-arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    
}


.arrow {
    width: 33px;
    height: 33px;
}

.burger-nav {
    display: none;
}

#second-opentime {
    display: none;
}

.layer {
    display: none;
}



@media (max-width: 1000px) {

    #links {
        justify-content: end;

        li {
            display: none;
        }
    }

    .burger-nav {
        display: block;
        align-self: center;
        margin-right: 40px;
        width: 28px;
        height: 30px;

        span {
            width: 100%;
            height: 3px;
            background: white;
            display: flex;
            align-self: center;
            margin: 5px 0;
            border-radius: 2px;
        }
    }
    
    .download {
        margin-right: 20px;
    }

    .open-header {
        height: 50px;
        justify-content: end;
    }

    .open-time {
        height: 100%;
        width: 400px;
        
        img {
            display: none;
        }
        p {
            align-self: center;
            margin-right: 20px;
            span {
                font-weight: bold;
            }
        }
    }

    .image {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .container {
        height: auto;
    }

    .slide-arrows {
        display: none;
    }

    .rectangle {
        display: none;
    }

    #second-opentime {
        display: none;
    }

    .layer {
        display: block;
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;

        h1 {
            margin: 0 20px;
        }

        p {
            margin: 16px 20px;
            font-weight: 300;
        }

    }
}

@media (max-width: 590px) {

    .open-time {
        height: 100%;
        width: 280px;

        p {
            font-size: 10px;
        }
    }

    .open-header {
        height: 40px;
        text-align: end;
    }

    .nav-header {
        height: 80px;
    }

    #logo {
        width: 100px;
        height: 100px;
        margin-top: -30px;
    }

    .image {
        margin: 0;
    }

    .header {
        height: 120px;
    }

    #first-opentime {
        display: none;
    }

    #second-opentime {
        display: block;
    }


}