
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 680px;
    margin: 0 auto;
}

#links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;

}

#links li {
    color: #fff;
    align-self: center;
    margin-top: 3px;
    padding: 0;
    font-weight: 700;
    font-size: 14px;

}

#links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#links li:hover::after{
    width: 100%;
}

ul a {
    text-decoration: none;
    color: #fff;
    align-self: center;
    margin-left: 5px;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1000px;
}

.header {
    height: 123px;
}

.nav-header {
    background-color: #B50014;
    height: 93px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo {
    margin-right: 25px;
    z-index: 2;
    transform: translateY(25%);
 
}

.open-header p {
    margin: 0;
    color: #fff;
    text-align: end;
}

.clock {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 4px;
}

.open-header {
    height: 30px;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
    width: 100%;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
}

.rectangle {
    color: #fff;
    width: 550px;
    height: 300px;
    position: sticky;
    transform: translateY(60%);
    background-color: #0000004d;
    padding: 40px 40px 20px 250px;
}


.open-time {
    display: flex;
    width: 1200px;
    justify-content: end;
}

.open-time p span {
    font-weight: bold;
}

.download {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.slide-arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    
}

.rectangle p {
    font-weight: 300;
}

.arrow {
    width: 33px;
    height: 33px;
}

.burger-nav {
    display: none;
}

#second-opentime {
    display: none;
}

.layer {
    display: none;
}

.float-menu {
    background-color: #000000;
    max-height: 395px;
    max-width: 300px;
    margin-top: 85px;
    position: absolute;
    left: -400px;
    top: 8px;
    z-index: 1;
    display: flex;
    transition: 0.3s;
}

.float-menu ul {
    margin: 40px;
    list-style: none;
    height: 400px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.float-menu ul li {
    color: #fff;

}

.image {
    background-image: url(img/image-1.jpg);
    background-size: cover;
}

.left-trigger:hover, .right-trigger:hover {
    cursor: pointer;
}

#img1{
    display: none;
}



@media (max-width: 1000px) {
    #img1{
        display: block;
    }

    .float-menu.active {
        left: 0;
    }

    #links li{
        display: none;
    }

    #links {
        justify-content: end;
    }
    
    .download {
        margin-right: 20px;
    }

    .burger-nav {
        display: block;
        align-self: center;
        margin-right: 40px;
        width: 28px;
        height: 30px;
        cursor: pointer;
        
    }

    .burger-nav span {
        width: 100%;
        height: 3px;
        background: white;
        display: flex;
        align-self: center;
        margin: 5px 0;
        border-radius: 2px;
        transition: 0.4s;
    }

    .change .line1 {
        transform: rotate(-45deg) translate(-7px, 5px);
    }
      
    .change .line2 {opacity: 0;}
      
    .change .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .open-header {
        height: 50px;
        justify-content: end;
    }

    .open-time {
        height: 100%;
        width: 400px;
    }

    .open-time p {
        align-self: center;
        margin-right: 20px;
    }

    .open-time p span {
        font-weight: bold;
    }

    .open-time img {
        display: none;
    }
    
    .image {
        margin-top: 20px;
        margin-bottom: -5px;
        width: 100%;
        height: auto;
    }

    .container {
        height: auto;
    }

    .slide-arrows {
        display: none;
    }

    .rectangle {
        display: none;
    }

    #second-opentime {
        display: none;
    }

    .layer {
        display: block;
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .layer h1 {
        margin: 0 20px;
    }

    .layer p {
        margin: 16px 20px;
        font-weight: 300;
    }
}

@media (max-width: 590px) {
    .float-menu {
        max-height: 340px;
        max-width: 300px;
        margin-top: 80px; 
    }
    
    .float-menu ul {
        height: 300px;
        padding: 0;
    }

    .open-time p {
        font-size: 10px;
    }

    .open-time {
        height: 100%;
        width: 280px;
    }

    .open-header {
        height: 40px;
        text-align: end;
    }

    .nav-header {
        height: 80px;
    }

    #logo {
        width: 100px;
        height: 100px;
        margin-top: -30px;
    }

    .image {
        margin: 0;
        margin-bottom: -5px;
    }

    .header {
        height: 120px;
    }

    #first-opentime {
        display: none;
    }

    #second-opentime {
        display: block;
    }



}

