@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

html {
    font-family: "Roboto";
    color: #FFF;
}


/*Navigation Starts*/

.container {
    width: 100%;
    background-color: #A62120;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

}

.header {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.header header {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;

}

.header .brand {
    font-weight: 500;
}


.header .nav-bar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    background-color: #24232a;
    position: absolute;
    top: 68px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
    transition: 0.5s ease-in-out all;
    transform: translateX(100%);

}

.header .nav-bar nav.nav-toggle {
    transform: translateX(0);
}

.header header .nav-bar .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.header header .nav-bar .nav-list li {
    padding: 5px 0;
}

.header header .nav-bar .nav-list a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.header header .nav-bar .nav-list a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    color: #d65353;
    transition: 1.2s ease;
}

.header header .nav-bar .nav-button {
    padding-top: 20px;
    font-size: 1rem;
    display: block;
    width: 100%;
}

.header header .nav-bar .download a {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    background-color: #fff;
    color:#A62120;
    border-radius: 9px;
}

.header .nav-bar .ham {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    border: 1px solid #fff;
}

.header .nav-bar .ham .bars {
    height: 2px;
    width: 20px;
    position: relative;
    background-color: #fff;
    transition: .5s ease all;
}

.header .nav-bar .ham .bars::before,
.header .nav-bar .ham .bars::after {
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    transition: .5s ease all;
    background-color: #fff;
    transition: .5s ease all;
}

.header .nav-bar .ham .bars::before {
    top: -5px;
    left: 0;
}

.header .nav-bar .ham .bars::after {
    bottom: -5px;
    left: 0;
}

.header .nav-bar .ham.close .bars::before {
    top: 0;
    transform: rotate(45deg);
}

.header .nav-bar .ham.close .bars::after {
    top: 0;
    transform: rotate(-45deg);
}

.header .nav-bar .ham.close .bars {
    background-color: transparent;
}
/*Navigation Ends*/


/*Hero Section Slider*/


/*Hero Section Slider Ends*/

/*Time Section*/
.time-wrapper{
    background-color: #24232a;
    height: 80px;
}

.time-content{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px 30px;
}

.time-content .open{
    font-size: 1rem;
    font-weight: 600;
}

.time-content p{
    font-size: .9rem;
    font-weight: 300;
    margin-top: 5px;
}

/*Time Section Enda*/

/**Dry Aged Section**/

.dry-container {
    width: 100%;
    background-color: rgb(16, 13, 13);
}

.dry-wrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.division {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.division img {
    width: 400px;
    min-width: 200px;
    margin-top: 20px;
}

.item-width {
    text-align: center;

}

.item h3 {
    padding-top: 20px;
}

.item .text-handwerk {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.item p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

.button-item {
    display: inline-flex;
    justify-content: space-between;
    

}

.button-item .right{
    margin-left:20px;
}
.button-item a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/*Dry Aged Section Finish*/




/*Buchen Section Starts*/
.buchen-flexbox {
    background-color: #A62120
}

.buchen-flexbox .buchen-content {
    display: flex;
    flex-direction: column-reverse;
}

.buchen img {
    width: 100%;
    height: 100%;
}

.buchen-text {
    margin: 50px 0;
    font-family: "Roboto";
}

.buchen-text h3 {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}


.buchen-text ul li {
    text-align: center;
    ;
    list-style-type: none;
    width: 300px;
    font-weight: 300;
    margin: auto;
    line-height: 1.8;
    width: 80%;
    padding: 10px 10px;
}

.buchen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    background-color: white;
    border: 1px solid #A62120;
    width: 180px;
    height: 50px;
    border-radius: 35px;
}



.buchen-btn a {
    text-decoration: none;
    color: #A62120;

}
/*Buchen Section Finish*/


/*Das Handwerk Section Starts*/
.food-container {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: rgb(16, 13, 13);
}

.dark-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.main {
    margin: 50px auto;
    width: 90%;
}

.main h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

.main .text-handwerk {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px 0;
    margin-bottom: 50px;
}



.main .secondary-txt {
    text-align: center;
    font-weight: 300;
    line-height: 1.8;
    font-size: 1rem;
    margin: 10px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    background-color: #A62120;
    border: 1px solid #fff;
    width: 180px;
    height: 50px;
    border-radius: 35px;
}

.btn:hover {
    background-color: #d65353;
    transition: 1.2s ease;
}

.btn a {
    text-decoration: none;
    color: #FFF;

}

.dark-second {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    margin: 10px 0;
}

.dark-second::before {
    content: '';
    display: block;
    border: 1px white;
    background-color: #FFF;
    height: .1px;
    width: 300px;
    overflow: hidden;
}

.dark-second::after {
    content: '';
    display: block;
    border: 1px white;
    background-color: #FFF;
    height: .1px;
    width: 300px;
    overflow: hidden;
}

.food-flex-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.food-flex-content img {
    width: 90%;
    margin: 10px 0;
}

.food-flex-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.food-flex-content img{
    margin: 10px auto;
}
/*Das Handwerk Section Finish*/



/*Spices Section Starts*/
.flex-container {
    background-color: #A62120;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.flex-left {
    width: 90%;
    margin: 50px auto;
}

.flex-left .h3{
    width: 350px;
    line-height: 1.2;
}

.flex-left h4{
    width: 350px;
    max-width: 350px;
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.flex-left p {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 40px;
    line-height: 1.5;
}

.flex-right {
    width: 100%;
}

.flex-right img{
    width: 100%;
    max-width: 100%;
}
/*Spices FLexbox Finish*/


/*Fleisch Section Starts*/
.fleisch-container {
    background: url(../images/80457d7e9d392ee84954d90d13d15d69@2x\ 1.png) center/cover no-repeat;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.fleisch-wrapper {
    color: #fff;
}

.flei-text h4 {
    font-size: 2.5rem;
}

.flei-text .flei-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 40px;
    color: #24232a;
    background-color: #FFF;
    width: 200px;
    height: 40px;
    margin-top: 50px;

}

.flei-text .flei-btn a {
    text-decoration: none;
}

/*Flei Section Finishes*/



/*Brath Section*/
.brath {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.brath-container {
    width: 100%;
}

.brath-content .img-brath {
    text-align: center;
}

.brath-content .img-brath img {
    margin: 50px;
}

.brath-first {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.brath-btn {
    display: inline-block;
    margin: 50px auto;
    background-color: #A62120;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 35px;
}

.brath-second {
    text-align: center;
    margin: 80px;
}

.brath-second h5 {
    color: #7a797a;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.brath-content .awards {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
    margin: 25px auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #7a797a;

}

.brath-content .awards h5 {
    width: 140px;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
}

.brath-first .brath-btn {
    display: inline-block;
    margin: 50px 50px;
    background-color: #A62120;
    border: 1px solid #fff;
    color: #fff;
    width: 180px;
    height: 50px;
    border-radius: 35px;
}

.brath-sec-wrap .brath-first a {
    text-decoration: none;
    padding-top: 12px;

}
/*Brath Section Finishes*/

/*Footer*/
.footer-container {
    width: 100%;
    height: 100%;
    background-color: #A62120;
}

.footer-wrapper {
    width: 100%;
}

.footer-content-1{
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.8;
    width: 192px;
    padding-top: 50px;
}

.brath-logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}


.social h4 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;

}

.social .social-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm-link i { 
    font-size: 2rem;

}

.social-items .sm-link {
    width: 4rem;
    height: 4rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

.social-items .icons a {
    text-decoration: none;
    color: #fff;

}

.ri {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: #7a797a;
    height: 135px;
    width: 100%;
    margin: auto;
    background-color: #66000B;
}

.footer-cont {
    text-align: center;
    margin: 0 auto;

}

.footer-cont .footer-wrap {
    margin-top: 10px;
}

.footer-cont .footer-wrap span a {
    text-decoration: none;
    line-height: 2;
    color: rgb(205, 201, 201);
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
    .main {
        width: 100%;
    }

    .secondary-text {
        width: 650px;
        margin: 0 auto;
    }

    .food-flex-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    .food-flex-content img{
        margin-top: -1px;
    }

    .food-flex-container {
        margin-top: 50px;
    }

    

    .dark-second::before {
        content: '';
        display: block;
        border: 1px #fff;
        background-color: #FFF;
        height: .1px;
        width: 500px;
        overflow: hidden;
    }

    .dark-second::after {
        content: '';
        display: block;
        border: 1px #fff;
        background-color: #FFF;
        height: .1px;
        width: 500px;
        overflow: hidden;
    }

    /*Spice flexbox*/

    .flex-container .flex-left{
        width: 100%;
        max-width: 100%;
    }

    .flex-left h4{
        text-align: center;
        margin-top: 40px;
    }


    /*Buchen Section*/

.buchen-flexbox .buchen-content {
    display: flex;
    flex-direction: row-reverse;
}

    .buchen-content .img-buchen {
        width: 50%;
        max-width: 1200px;
    }

    .buchen-text {
        width: 50%;
        max-width: 100%;
    }

    .buchen-text h3 {
        width: 350px;
    }

    /*DryAged*/

    .division{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

   

    .button-item .right{
        margin-left: 40px;
    }


    .flex-awards{
        display: flex;
        flex-direction: column;
    }

    .awards{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1200px) {
   

    .header .nav-bar {
        width: 1200px;
        max-width: 1200px;
        display: block;
        justify-content: space-around;
    }
    
    .header .nav-bar nav {
        position: initial;
        transform: translate(0, 0);
        width: auto;
        height: auto;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
    }
    
    .header .nav-bar nav .nav-list {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
    
    .header .nav-bar nav .nav-list li {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
    
    }
    
    .header .nav-bar nav .nav-list li a {
        color: #fff;
        font-size: 1rem;
    }
    
    .header .nav-bar nav .download{
    font-size: 1.2rem;
    padding-right: 10px;
    }

    .header .nav-bar nav .download a{
        color:#FFF;
        background-color: transparent;
    }

    .header .nav-bar .ham {
        display: none;
    }


    /*Hero Section*/
    /*Slider*/
    
    .slider {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    
    .slides {
        width: 500%;
        height: 500px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        width: 20%;
        transition: 2s;
    }
    
    .slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
    }
    
    /*manual slider*/
    .manual-navigation {
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    
    }
    
    .manual-btn {
        border: 2px solid #40d3dc;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        background: #40d3dc;
    }
    
    #radio1:checked~.first {
        margin-left: 0;
    
    }
    
    #radio2:checked~.first {
        margin-left: -20%;
    
    }
    
    #radio3:checked~.first {
        margin-left: -40%;
    
    }
    
    #radio4:checked~.first {
        margin-left: -60%;
    
    }
    
    
    /*css auto navigator*/
    .navigation-auto {
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
        margin-top: 460px;
    }
    
    .navigation-auto div {
        border: 2px solid #40d3dc;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    
    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }
    
    #radio1:checked~.navigation-auto .auto-btn1 {
        background: #40d3dc;
    
    }
    
    #radio2:checked~.navigation-auto .auto-btn2 {
        background: #40d3dc;
    
    }
    
    #radio3:checked~.navigation-auto .auto-btn3 {
        background: #40d3dc;
    
    }
    
    #radio4:checked~.navigation-auto .auto-btn4 {
        background: #40d3dc;
    
    }
    /*Hero Slider Finish*/

    /*Time Finish*/

    .time-wrapper{
        width: 100%;
        max-width: 100%;    
        height: 50px;  
    }

    .time-content{
        width: 1800px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .time-content .open{
        margin-right: 10px;
    }


    


    .main-header {
        height: 30px;
    }

    .small-header {
        display: flex;
        justify-content: center;
        width: 1000px;
    }

    .small-content {
        display: inline-flex;
        width: 500;
        margin-right: 40px;
    }

    .small-content img {
        padding-right: 10px;
    }

    .small-content h6 {
        padding-right: 20px;
    }


    .hero-wrapper {
        position: relative;
    }

    .hero-container {
        position: absolute;
        top: 300px;
        left: 0;
        width: 629px;
        height: 348px;
        background: rgba(0, 0, 0, 0.3);
        text-align: left;
    }

    .hero-container .hero-heading {
        width: 300px;
    }

    .hero-container .hero-para {
        width: 300px;
    }

    .dry-container{
        height: 100%;
        width: 100%;
    }

    .dry-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: row-reverse;
      
    }
    
    .division {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        width: 650px;
        height: 680px;
        align-items:center;
        margin-top: -30px;
    }
    
.division .img-1{
    grid-column: 1 / 4;
    grid-row: 2;

}

.img-2{
    grid-column: 1;
    grid-row: 3;

}

.img-3 {
    grid-column: 2;
    grid-row: 3;
}

.img-4 {
    grid-column: 3;
    grid-row: 3;

}

.division .img-1{
    width: 100%;
    max-width: 100%;
}

.division .img-grid{
    width: 60px;
    height: 10 0px;
    min-width: 200px;
    margin-top: 20px;
}

.item-width{
    margin: 80px auto;
    text-align: left;
    width: 35%;
}

.button-item .right{
    margin-left: 20px;
}


    .buchen-text{
        margin: 100px auto;
    }


    .buchen-text .buchen-title {
        width: 300px;
        text-align: left;
        margin: auto;
        margin-bottom: 40px;
    }
    
    
    .buchen-text ul li {
        text-align: left;
        font-weight: 300;
        margin: 0 auto;
        line-height: 1.8;
        width: 40%;
        padding: 10px 10px;
    }



    .brath-first-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .brath-sec-wrap .brath-first {
        width: 500px;
        margin: 100px;
        margin-left: 140px;

    }

    .brath-first{
        text-align: left;
    }

    .brath-first h3 {
        text-align: left;
        font-size: 1.8rem;
        width: 390px;
    }

    .brath-first .brath-btn {
        text-align: center;
    }

    .brath-sec-wrap {
        width: 50%;
    }

    .brath-container .flex-awards {
        display: flex;
        flex-direction: row;
        width: 1100px;
        margin: 0 auto;
    }

    .flex-awards .awards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 750px;
    }

    .flex-awards .brath-second {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    .btn,
    .buchen-btn,
    .flei-btn {
        cursor: pointer;
    }

    .footer-container{
        height: 100%;
        padding: 15px 0;
    }

    .footer-wrapper{
      margin: 0 auto;
       width: 100%;
   
    }
    
    .footer-content{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .footer-content-1{
        display: flex;
        flex: 1;
        font-weight: 300;
        flex-direction: column;
        line-height: 2;
        width: 400px;
         }
        
    

  

    .footer-content .brath-logo{
        display: flex;
        flex: 2;
    }


    .social{
        display: flex;
        flex: 1;
        align-items: center;
      

    }

    .social h4{
       margin-top: 40px;
    }



    footer {
        height: 100%;
    }

   .footer-cont{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;


   }

   .footer-wrap{
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }

    .sm-link i {
        font-size: 1.8rem;
    }

    .social-items .sm-link {
        width: 3rem;
        height: 3rem;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items:center; 
    
    }

    .food-flex-container{
        margin: 80px auto;
    }

    .food-flex-content {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
    }

    /*Spice Flexbox*/

    .flex-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .flex-left {
       width: 50%;
       text-align: left;
       padding-left: 100px;
    }

    .flex-left h4{
        text-align: left;
    }
  
    .flex-right {
        width: 100%;
    }
    
    .flex-right img {
        width: 100%;
        max-width: 1200px;
        min-width: 700px    ;
        height: auto;
    }

  


}