*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    transition:all .2s linear;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

.hamburgerContainer{
    background-color: #000000;
    height: 80px;
}

.menuItemList {
    display: block;
    margin: 50px 50px;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.hamburgerMenuState {
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 20px;
    padding: 4px;
    background: #ffffff;
}

.closeMenuIcon{
    display: none;
}

.hamburgerMenu{
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000000;
    color: #ffffff;
    list-style: none;
}

.showMenu {
    transform: translateY(0);
}

.hero-section{
    width: 100%;
    height: 680px;
    background: url(images/heroImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroHeadlineText h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
    padding-left: 150px;
}

.heroTextContainer{
    width: 630px;
    height: 350px;
    background: #0000004d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.heroLowerText p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-transform: initial;
    padding-left: 150px;
}

.meat-section h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
}

.heroRadioButtonStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.meat-section{
    width: 100%;
    height: 50vh;
    background: url(images/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #0000004d;
    opacity: .9;
}

.meat-section h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 30px;
}

.meat-button button{
    background: #ffffff;
    color: #252525;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #ff0000;
    border-radius: 40px;
    padding: 15px 50px 15px 50px;
}

.dark {
    background-color: black;
    padding-top: 100px;
}

.dark img {
    padding-left: 200px;
}

.dark h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-transform: initial;
    padding-top: 25px;
}

.dark button {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #a62120;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 15px 50px 15px 50px;
    margin-top: 32px;
}

.dark {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logoDeviderCenterFirst {
    background-color: #000000;
}

.logoDeviderCenterFirst{
    text-align: center;
    padding-top: 130px;
}

.darkSecond {
    background-color: #000000;
}

.darkSecond .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 200px;
}

.darkSecond h2{
    padding-top: 50px;
    padding-right: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
}

.darkSecond p{
    color: #ffffff67;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    text-transform: initial;
}

.darkSecond .logoDeviderCenterSecond {
    text-align: center;
    padding-top: 130px;
}

.darkThird {
    background-color: #000000;
}

.darkThird p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-top: 100px;
    color: #ffffff67;
}

.darkThird h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    text-transform: initial;
}

.darkThird .leftCard{
    background-color: #1a1a1a;
    margin-top: 100px;
}

.darkThird .middleCard{
    background-color: #262626;
}

.middleCardPhotos{
    text-align: center;
    padding-top: 50px;
}

.middleCard .review {
    padding-top: 30px;
}

.middleCardText p{
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-transform: initial;
    text-align: center;
    padding: 95px 40px 50px 40px;
} 

.middleCardLowerTextName p{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.middleCardLowerTextProfession p{
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.darkThird .rightCard{
    background-color: #1a1a1a;
    margin-top: 100px;
}

.leftCardText p{
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: initial;
    text-align: center;
    padding: 190px 40px 50px 40px;
}

.leftCardTextName p{
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rightCardText p{
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: initial;
    text-align: center;
    padding: 190px 40px 50px 40px;
}

.rightCardTextName p{
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lowerButton button{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #A62120;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 15px 50px 15px 50px;
    margin-top: 100px;
    margin-bottom: 80px;
    
}

#footer .footerCompanyInfo{
    background-color: #B50014;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer .footerSocialLinks ul{
    display: flex;
}

.footerSocialLinks img{
    padding: 5px;
}

.footerSocialLinks p{
    color: #FFFFFF;
}

.footerCompanyInfo{
    padding-top: 20px;
}

.footerCompanyInfo ul li img{
    display: inline-block;
}

.footerCompanyInfo img{
    color: #ffffff;
}

.footerCompanyInfo ul li a{
    display: inline-block;
    text-transform: initial;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}

.footerCompanyInfo ul{
    list-style-type: none;
}

.footerLowerLogo img{
    padding-bottom: 20px;
}

.footerSocialLinkText{
    padding-right: 20px;
    padding-top: 10px;
}

#creditSection .creditText{
    background: #66000B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#creditSection .creditText p{
    padding: 5px 5px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #ffffff80;
} 




